<%- include('partials/header') %>
<main class="page-container">
  <div class="app-window">
    <div class="window-titlebar">
      <span class="window-title">Pictor</span>
      <!-- Window Control Buttons -->
      <div class="window-controls">
        <button class="window-btn minimize" title="Minimize">_</button>
        <button class="window-btn maximize" title="Maximize">☐</button>
        <button class="window-btn close" title="Close">X</button>
      </div>
    </div>
    <div class="window-content">
      <div style="display: grid; grid-template-rows: auto auto auto; gap: 1rem">
        <img src="<%= apodUrl %>" alt="NASA APOD" style="max-width: 100%" />
        <div><%= greeting %></div>
        <!-- Link to refresh the page by going to "/" again -->
        <a
          href="/"
          style="padding: 6px; background-color: #ccc; text-decoration: none"
        >
          Refresh APOD & Greeting
        </a>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
