<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pictor 98</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header class="header">
      <img class="header-logo" src="images/pictor-98-dark.png" alt="Task Manager 98 Logo" />
    </header>
  </body>
